*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


/* LOGIN & REGISTER FORMS         DEBUT  */

.form-check{
    margin: auto;
    width: 150px;
}

/* LOGIN & REGISTER FORMS         FIN  */

/* BOUTONS DE CONNEXION DEBUT */

#connexion_btn_zone{
    margin-top: 10px;
}
.register_button{
    position: absolute;
    right: 115px;
}
.logout_login_buttons{
    position: absolute;
    right: 15px;
}

/* BOUTONS DE CONNEXION FIN */



/*  PAGE DE BASE  -  DEBUT  */

.title-page{
    padding-top: 10px;
}

/*  PAGE DE BASE  - FIN */



/* NAVBAR  -  DEBUT  */

#logo{
    width: 260px;
    transition: 0.5s;
    margin-bottom: 20px;
    margin-right: 20px;
}
.navbar{
    display: flex;
    align-items: center;
    height: 80px;
    background-size: cover;
}

.navbar{
    font-weight: 600;
    font-size: larger;
}

.nav_container{
    background-color: #fcd80e;
    background-image: linear-gradient(to top, #ffbc00, #ffca00, #ffd800, #ffe600, #fff400);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.nav-item{
    opacity: 0.9;
    transition: 0.2s;
}
.nav-item:hover{
    opacity: 1;
}


.administration_nav{
    position: absolute;
    right: 8%;
}
.nav-cart-logo{
    position: absolute;
    width: 30px;
    opacity: 0.8;
    right: 3%;
    transition: 0.2s;
    filter: invert(20%);
    transition: 0.2s;
}
.nav-cart-logo:hover{
    opacity: 1;
    filter: invert(0%);
}

.bg-navbar{
    height: 50px;
    background-color: #fcd80e;
    background-image: url("../img/Beer-bubbles.gif");
    background-position: 100% 25%;
    opacity: 1;
    transition: 0.5s ease-in-out;
    -webkit-mask:linear-gradient(#000, #0000);
    mask:linear-gradient(#000, #0000);
}

/* NAVBAR  -  FIN  */



/* BACKGROUND - DEBUT */

.bck{
    background-image: url("../img/bck1.jpg");
    background-position: center center;
    background-size: cover;
    height: 100vh;
    margin-top: -18px;
}

/* BACKGROUND - FIN */



/*   ACCUEIL - DEBUT  */

.carousel-container{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 400px;
    width: 550px;
    border-radius: 10px;
    margin: auto;
}

.card-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 12px;
    padding: 20px;
    height: 400px;
    fill: #000000;
}
.carousel-control-next, .carousel-control-prev{
    background-color: rgba(0, 0, 0, 0.251);
    transition: 0.2s  ease-in-out;
}
.carousel-control-next:hover, .carousel-control-prev:hover{
    background-color: rgba(0, 0, 0, 0.56);
}

.carousel-control-next-icon,
.carousel-control-prev-icon{
    filter: invert(1);
    transition: 0.2s;
}
.carousel-control-next-icon:hover, .carousel-control-prev-icon:hover{
    filter:brightness(5);
}
.image-card{
    height: 310px;
    margin-bottom: 20px;
}
.product-name{
    font-weight: 600;
    font-size: 1.2em;
    margin-top: 10px;
}
.product-name-link{
    color: #1b0000;
    
}
.product-name-link:link{
    text-decoration: none;
}

/*   ACCUEIL - FIN */



/*  CATALOGUE - DEBUT  */

.form-filters label{
    display: none;
}
.form-filters{
    height: max-content;
}
.all-catalogue-container{
    flex-wrap: wrap;
}
.product-card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 300px;

}
.catalogue-product-title{
    height: 50px;
    color: #000;
    text-align: center;
}
.link-deco:link{
    text-decoration: none;
}
.img150{
    height: 150px;
    margin-bottom: 10px;
}



/* AVATAR */
.img80{
    height: 80px;
}


.price{
    color: #180e00;
}
/*  CATALOGUE - FIN */

