*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


/* LOGIN & REGISTER FORMS         DEBUT  */

.form-check{
    margin: auto;
    width: 150px;
}

/* LOGIN & REGISTER FORMS         FIN  */

/* BOUTONS DE CONNEXION DEBUT */

#connexion_btn_zone{
    margin-top: 10px;
}
.register_button{
    position: absolute;
    right: 115px;
}
.logout_login_buttons{
    position: absolute;
    right: 15px;
}

/* BOUTONS DE CONNEXION FIN */



/*  PAGE DE BASE  -  DEBUT  */

.title-page{
    padding-top: 10px;
}

/*  PAGE DE BASE  - FIN */

/* NAVBAR */



#logo{
    width: 260px;
    transition: 0.5s;
    margin-bottom: 15px;
    margin-right: 20px;
}
.navbar{
    display: flex;
    align-items: center;
    height: 10vh;
    background-size: cover;
}

.navbar{
    font-weight: 600;
    font-size: larger;
}

.nav_container{
    background-color: #fcd80e;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.administration_nav{
    position: absolute;
    right: 12%;
}
.nav-cart-logo{
    position: absolute;
    width: 30px;
    opacity: 0.8;
    right: 3%;
    transition: 0.2s;
}
.nav-cart-logo:hover{
    opacity: 1;
}

.bg-navbar{
    height: 5vh;
    background-color: #fcd80e;
    background-image: url("../img/Beer-bubbles.gif");
    background-position: 100% 25%;
    opacity: 1;
    transition: 0.5s ease-in-out;
    -webkit-mask:linear-gradient(#000, #0000);
          mask:linear-gradient(#000, #0000);
}



/* Background */

.bck{
    background-image: url("../img/bck1.jpg");
    background-position: center center;
    background-size: cover;
    height: 100vh;
    margin-top: -18px;
}




/*  CATALOGUE - DEBUT  */

.form-filters label{
    display: none;
}
.form-filters{
    height: max-content;
}
.img150{
    height: 150px;
}
/*  CATALOGUE - FIN */

