*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}







/* BOUTONS DE CONNEXION DEBUT */

#connexion_btn_zone{
    margin-top: 10px;
}
.register_button{
    position: absolute;
    right: 115px;
}
.logout_login_buttons{
    position: absolute;
    right: 15px;
}

/* BOUTONS DE CONNEXION FIN */

/* NAVBAR */

.navbar{
    height: 10vh;
    background-color: #FED925;
}

/* .bulles{
    border: 2px solid red;
    height: 100px;
    width: 100px;
} */

/* Background */

.bck{
    background-image: url("../img/bck1.jpg");
    background-position: center center;
    background-size: cover;
    height: 100vh;
    margin-top: -18px;
}