{% extends 'base.html.twig' %}

{% block title %}Edit Stocks{% endblock %}

{% block body %}
    <a class="btn btn-secondary ms-3" href="{{ path('app_admin_stocks_index') }}">Retour</a>

    {{ include('admin_stocks/_form.html.twig', {'button_label': 'Update'}) }}

    

    {{ include('admin_stocks/_delete_form.html.twig') }}
{% endblock %}
