{% extends 'base.html.twig' %}

{% block title %}Edit Styles{% endblock %}

{% block body %}
    <h1>Edit Styles</h1>

    {{ include('admin_styles/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_styles_index') }}">back to list</a>

    {{ include('admin_styles/_delete_form.html.twig') }}
{% endblock %}
