{% extends 'base.html.twig' %}

{% block title %}New Styles{% endblock %}

{% block body %}
    <h1>Create new Styles</h1>

    {{ include('admin_styles/_form.html.twig') }}

    <a href="{{ path('app_admin_styles_index') }}">back to list</a>
{% endblock %}
