{% extends 'base.html.twig' %}

{% block title %}Conditions Générales | {{ parent() }} {% endblock %}



{% block body %}

    <section class="col-md-10 mt-5 m-auto">
        <h4 class="mb-3">Conditions Générales</h4> 
        <hr>
        <p>
    
     1) Tout client est réputé avoir pris connaissance de nos conditions générales de vente et déclare y souscrire sans aucune réserve. La validation de votre bon de commande en cliquant sur "confirmer ma commande" vaudra pleine et entière acceptation des présentes conditions générales de ventes. A compter du clic d'acceptation, la commande est considérée comme irrévocable et ne peut être remise en cause. Dès lors, toute commande qui nous est adressée est soumise aux présentes conditions générales de vente, à l’exclusion de toutes autres conditions générales auxquelles il serait fait référence.

    <br> <br> 2) Le contrat ne devient définitif à notre égard que par notre acceptation écrite de la commande. Nous ne sommes en aucun cas liés par les engagements pris par nos agents, préposés ou intermédiaires.

   <br> <br> 3) Le site www.lesbreuvagesdelachaudasse.be établi sur le territoire belge est soumis au droit belge. Toute commande emporte de plein droit votre adhésion à nos conditions générales de vente. Ces conditions générales de vente sont régies par la loi belge aussi bien pour les règles de fonds que pour les règles de formes.

   <br> <br> 4) La vente d'alcool aux mineurs est interdite. L’amendement déposé au Moniteur Belge en date du 31/12/09 impose des limites d'âge précises pour la vente et le service de boissons alcoolisées aux jeunes et précise: "Il est interdit de vendre, de servir ou d'offrir toute boisson ou produit ayant un titre alcoométrique acquis supérieur à 0,5% vol. aux jeunes de moins de seize ans". Par ailleurs, comme le rappelle la loi du 28 décembre 1983, il est toujours interdit de vendre, offrir ou servir des boissons spiritueuses à des mineurs; les alcools dits "forts" (vodka, whisky, breezers, rhum, etc.) sont interdits en dessous de 18 ans. En commandant sur ce site, vous attestez être majeur.

   <br> <br> 5) Nos prix s’entendent nets départ magasin. Les taxes, les frais de port, les frais d’emballage sécurisé, l’assurance et toute autre charge éventuelle sont à charge du client, sauf s’il en est convenu autrement par écrit.

   <br> <br> 6) Les marchandises livrées restent la propriété du vendeur, tant que le paiement intégral, dommages et intérêts éventuels inclus, n’a pas été effectué. L’acheteur supportera les risques, malgré la réserve de propriété.

   <br> <br> 7) Les délais de livraison mentionnés ne sont jamais donnés qu’à titre indicatif et ne constituent de notre part aucun engagement ferme. Leur non-respect ne peut en aucun cas autoriser le client à se soustraire à l’exécution de ses propres obligations, à demander la résolution du contrat ni à réclamer des dommages et intérêts.

   <br> <br> 8) La marchandise est réputée livrée départ magasin. Elle voyage toujours aux risques et périls du client, auquel il appartient de faire immédiatement et directement ses réserves auprès du transporteur, dans le cas où le colis lui parviendrait dans un emballage détérioré. Toute autre réclamation doit être formulée par courrier recommandé envoyé au siège de la société endéans les 48 heures de la réception de la marchandise, sous peine d’être écartée.

   <br> <br> 9) A défaut de paiement de tout ou partie de la facture à son échéance, le montant dû sera majoré de plein droit et sans mise en demeure préalable d’une indemnité forfaitaire de 15% du montant impayé avec un minimum de 100 €. En outre, tout retard de paiement entraîne l’application de plein droit d’un intérêt moratoire de 12% l’an.

   <br> <br> 10) Les ventes sont régies par le droit belge. En cas de contestation les Tribunaux de l’arrondissement de Nivelles sont les seuls compétents.

   <br> <br> 11) Les informations qui vous sont demandées sont indispensables au traitement de votre commande et sont destinées aux services des Breuvages de La Chaudasse uniquement. Vous disposez d'un droit d'accès, de modification, de suppression et de rectification relatifs à vos données personnelles.

   <br> <br> 12) Nous ne pouvons être tenus responsables des pertes, dommages, erreurs ou défaut de livraison d'un envoi dès lors qu'il serait établi l'existence de circonstances indépendantes de notre volonté. Par "circonstances indépendantes de notre volonté", il faut entendre notamment :
        les cas fortuits ou de force majeure, à savoir notamment : tremblements de terre, cyclones, tempêtes, inondations, guerres, accidents routiers, de train et d'avions, embargos...
        tous défauts ou particularités liés à la nature de l'envoi quand bien même il aurait été connu de nous au moment de notre acceptation
        tout acte, carence ou négligence de tout tiers, par exemple : l'expéditeur, le destinataire, tout tiers intéressé, tout employé des douanes ou de toute autre administration, les services postaux, tout transporteur ou autre tiers à qui l'envoi serait confié par notre prestataire de transport, pour desservir des secteurs non desservis directement par lui même, et ce, quand bien même l'expéditeur n'aurait pas demandé ou été informé du recours à un tiers.

   <br> <br> 13) En cas de non respect de nos engagements et quelqu'en soit la cause, les Breuvages de La Chaudasse ne seront tenus qu'au seul remboursement de la prestation de livraison sous les réserves énoncées ci-dessus (Retard de Livraison) et en aucun cas des dommages indirects que le client viendrait à invoquer. Ces dommages indirects et pertes s'entendent notamment par toute perte de revenus, de bénéfices, d'intérêts ou de marchés et toute perte liée à l'impossibilité d'utiliser tout ou une partie de l'envoi.

   <br> <br> 14) Si le colis nous est retourné au motif "adresse incomplète" ou "fausse adresse", Les Breuvages de La Chaudasse s'engage à contacter son client pour l'informer de la situation et demander un complément d'information sur l'adresse ou une nouvelle adresse d'expédition. Les frais de cette réexpédition seront à la charge du client. Bien entendu, dans cette situation, le point de départ du nouveau délai de livraison sera lié à la réception par Les Breuvages de La Chaudasse des nouveaux éléments d'information concernant la nouvelle adresse.

   <br> <br> 15) Afin d'optimiser la sécurité des transactions sur INTERNET, un système de paiement en ligne est proposé au client qui permet de crypter toutes les données relatives à vos commandes (y compris vos nom, adresse et numéro de votre carte de crédit) afin que les informations que vous nous communiquez soient protégées lors de leur transmission. En outre, les moyens et les prestations de cryptologie utilisés pour sécuriser les transactions ont fait l'objet selon le cas d'une déclaration ou d'une autorisation en application de la législation en vigueur.

   <br> <br> 16) Toute demande d'annulation d'une commande doit être effectuée avant l'expédition des produits, pour être prise en considération. Le délai minimum pour nous prévenir étant de 48 heures après la date de commande. Cette annulation devra être effectuée par mail uniquement.

   <br> <br> 17) La responsabilité des Breuvages de La Chaudasse ne saurait être engagée en cas d'inexécution du contrat, en cas de rupture de stock ou d'indisponibilité du produit, de force majeure et, notamment en cas de grève totale ou partielle, inondation, incendie ou autres catastrophes naturelles et d'une manière générale tous événements ne permettant pas la bonne exécution de la commande.

   <br> <br> 18) Les registres informatisés, conservés dans le système informatique des Breuvages de La Chaudasse dans des conditions raisonnables de sécurité, seront considérés comme des preuves des communications, des commandes et des paiements intervenus entre les parties.

   <br> <br> 19) Les Breuvages de La Chaudasse garantit la qualité de ses produits pour une durée de 12 mois à dater de la vente, pour peu que les dits produits soient conservés à une température maximum de 13° et à l’abri de l’humidité.

   <br> <br> 20) « Les Breuvages de La Chaudasse » ainsi que l’ensemble des logos, images et dessins utilisés sur tout support (web, flyers, autocollants, affiches,…) édité par Les Breuvages de La Chaudasse sont déposés et protégés. Toute reproduction est strictement interdite.
    </p>
    </section>

{% endblock %}


