{% extends 'base.html.twig' %}

{% block title %}Livraisons | {{ parent() }} {% endblock %}

{% block h1 %}Livraisons{% endblock %}

{% block body %}

    <section class="col-md-10 mt-5 m-auto text-center">
        <h4 class="mb-3">Expéditions et retours</h4> 
        <hr>
        <p> Le Château de la Mousse, sur rendez-vous, vous venez chercher votre commande dans nos entrepôts à 62018 Moussaille sur Houblon (France)
            Envoi de votre colis via les services Mondial Relay avec n° de suivi et remis contre signature dans un point relais de votre choix et proche de chez vous.
            Envoi de votre colis à domicile ou sur votre lieu de travail via les services Bpost

        Les colis sont généralement expédiés dans un délai de 3 à 5 jours après réception du paiement.

        Si vous préférez toutefois être livré à la maison ou si le pays de destination n’a pas de point relai, nous travaillons également avec Bpost.

        A chaque situation sa solution !

        Les frais d'expédition incluent les frais de préparation et d'emballage ainsi que les frais de port. Les frais de préparation sont fixes, tandis que les frais de transport varient selon le poids total du colis. Nous vous recommandons de regrouper tous vos articles dans une seule commande. Nous ne pouvons regrouper deux commandes placées séparément et des frais d'expédition s'appliquent à chacune d'entre elles. Votre colis est expédié à vos propres risques, mais une attention particulière est portée aux objets fragiles.

        Les dimensions des boîtes sont appropriées et vos articles sont correctement protégés.
        </p>
    </section>

{% endblock %}


