{% extends 'base.html.twig' %}

{% block title %}Les Créateurs | {{ parent() }} {% endblock %}

{% block h1 %}Les Créateurs{% endblock %}

{% block body %}

    <section class="col-md-10 mt-5 m-auto text-center">
        <img title="Créateurs" class="imgteam" src="{{ asset('img/photos/photo1.jpg')}}" alt="Créateurs">
    </section>

{% endblock %}


