<div class="col-md-8 mx-auto">

    {{ form_start(form) }}
        {{ form_row(form) }}
        <button class="btn btn-success col-1 mx-auto">{{ button_label|default('Ajouter') }}</button>
    {{ form_end(form) }}
</div>