{% extends 'base.html.twig' %}

{% block title %}Edit Countries{% endblock %}

{% block body %}
    <h1>Edit Countries</h1>

    {{ include('admin_countries/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_countries_index') }}">back to list</a>

    {{ include('admin_countries/_delete_form.html.twig') }}
{% endblock %}
